<ion-menu slot="start" menuId="main" contentId="content1">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>CinemaArt</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-menu-toggle auto-hide="true">
                <ion-item [routerLink]="'/movies'">My movies</ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="true">
                <ion-item [routerLink]="'/reservations'" *ngIf="isLoggedIn()">My reservations</ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="true">
                <ion-item (click)="logOut()" *ngIf="isLoggedIn()">Logout</ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="true">
                <ion-item (click)="logIn()" *ngIf="isNotLoggedIn()">Login</ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>
